<?xml version="1.0" encoding="UTF-8"?>

<!-- Main Bean element -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">  
	
	<!-- Employee bean -->
	<bean id="singletonBean" class="com.savan.model.Employee" >
		<lookup-method bean="prototypeBean" name="getAddress" />
	</bean>
	
	<!-- Address bean -->
	<bean id="prototypeBean" class="com.savan.model.Address" scope="prototype">
		<property name="Massage1" value="Test Massage"></property>
	</bean>
	
	

</beans>