<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<Appenders>
	
		<!-- Logger for console appender -->
		<Console name="consoleAppender" target="SYSTEM_OUTS" >
			<PatternLayout pattern="%d [%t] %-5level %logger{36} -%msg%n" ></PatternLayout>
		</Console>
		
		<!-- Logger For File Appender -->
		<File name="fileAppender" fileName="myapp.log" >
			<PatternLayout pattern="%d [%t] %-5level %logger{36} -%msg%n" ></PatternLayout>
		</File>
	
	</Appenders>
	
	<Loggers>
	
		<!-- Logging Everything -->
		<Logger name="com.savan" level="info" additivity="false" >
			<AppenderRef ref="consoleAppender" ></AppenderRef>
			<AppenderRef ref="fileAppender" ></AppenderRef>
		</Logger>
	
		<Root level="error" >
			<AppenderRef ref="consoleAppender" ></AppenderRef>
			<AppenderRef ref="fileAppender" ></AppenderRef>
		</Root> 
		
	</Loggers>
	
</configuration>